/.idea/
/build/
/checkpoints/
/dist/
/figures/
/fmri.egg-info/
/logs/
/outputs/
/venv/
/views/
/fmri/train/logs/
/fmri/train/views/
/fmri/train/checkpoints/
/fmri/figures/
/fmri/__pycache__/
/fmri/dimension_reduction/__pycache__/
/fmri/models/__pycache__/
/fmri/models/semi_supervised/__pycache__/
/fmri/models/supervised/__pycache__/
/fmri/models/unsupervised/__pycache__/
/fmri/models/utils/__pycache__/
/fmri/utils/__pycache__/
